{% extends 'admin/base.html.twig' %}

{% block title %}New Allergen{% endblock %}

{% block body %}

    {{ include('admin/allergen/_form.html.twig') }}

    <a role="button" class="btn btn-primary" href="{{ path('allergen_index') }}">back to list</a>
{% endblock %}
