{% extends "Layout/layout.html.twig" %}

{% block header_title %}Mentions Légales{% endblock %}

{% block body %}
<section>
    <h2>Mentions Légales</h2>
    <p>Article 1 - il n'y a pas de mentions légales</p>
</section>
{% endblock %}